@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none !important;
}
/* navbar */
.avatar-profile{
    width: 36px;

}

.navbar__search input{
    height: 32px !important;
    width: 280px;
    border-radius: 20px;
    font-size: 12px;
}

input::placeholder {
    font-size: 12px;
}

/* content */

/* content-area */
.content-area{
    padding-top: 70px;
}
.writePost{
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
}

.writePost__userImg{
    width: 36px;
    height: 36px;
}

.status__userImg{
    width: 36px;
    height: 36px;
}
.status{
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
}

textarea{
    border:  none !important;
    box-sizing: border-box;
}

.writePost__btnPost{
    width: calc(100% - 48px);
}

.status__contentImg{
    width: calc(100% - 72px);
    height: auto;
}
/* left Sidebar */
.leftSidebar{
    height: 50vw;
    overflow: auto;
    padding-top: 55px;
}

.sidebar-profile-box{
	background: #fff;
}
.advertisement{
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}
.notification{
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}
/* content-messenger */
.rightSidebar{
    height: 100%;
    overflow: auto;
    padding-top: 55px;
    position: sticky;
}
.rightSidebar__userImg{
    width: 36px;
    height: 36px;
}

.rightSidebar__userName{
    margin: 0;
    line-height: 36px;
}

.input-group-text {
	padding: 10px;
}

.writeComment__btnComment{
    width: calc(100%);
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0
}

.people-list {
	-moz-transition: .5s;
	-o-transition: .5s;
	-webkit-transition: .5s;
	transition: .5s
}

.people-list .chat-list li {
	padding: 10px 15px;
	list-style: none;
	border-radius: 3px
}

.people-list .chat-list li:hover {
	background: #efefef;
	cursor: pointer
}

.people-list .chat-list li.active {
	background: #efefef
}

.people-list .chat-list li .name {
	font-size: 15px
}

.people-list .chat-list img {
	width: 45px;
	border-radius: 50%
}

.people-list img {
	float: left;
	border-radius: 50%
}

.people-list .about {
	float: left;
	padding-left: 8px
}

.people-list .status {
	color: #999;
	font-size: 13px
}

.online, .offline, .me {
	margin-right: 2px;
	font-size: 8px;
	vertical-align: middle
}

.online {
	color: #86c541
}

.offline {
	color: #e47297
}

.me {
	color: #1d8ecd
}

.float-right {
	float: right
}